.container { padding: .5rem; }

mat-list-item {
    cursor: pointer;
    &:hover { background-color: #424242; }
}

img {
    width: 56px !important;
    height: 56px !important;
    object-fit: cover !important;

    &.not-profile { border-radius: 0 !important; }
}

mat-icon {
    width: 32px !important;
    height: 32px !important;
    padding: 12px !important;
    font-size: 32px !important;
}

.icon-container {
    width: 56px;
    height: 56px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.288);

    &.profile { border-radius: 50%; }
}

.hidden { opacity: 0; }

.spacer {
    min-width: 56px;
    max-width: 56px;
    height: 100%;

    order: -1;
}