<div class="about">
  <h1>About</h1>
  <p>
    <strong>Spotify Explorer</strong> is one of my weekend projects, which I use to learn more about Angular (6) and Angular Material,
    and to apply the "human-computer interaction" principles that I learned at the university to a real project. It is built
    using Angular 6, Angular Material and other helper libraries. The user is required to have a Spotify account and needs
    to log in to Spotify before he/she can use the app. It has 2 major features: Library and Search, which will be explained
    in the following paragraphs.
  </p>
  <p>
    In the
    <strong>Library</strong> feature, user can explore his/her Spotify library, including playlists, songs, albums and artists. The
    playlists which he/she owns or follows will be listed in the
    <em>Playlists</em> section. Songs, albums and artists that are saved to the user's library can be seen in the
    <em>Songs</em>,
    <em>Albums</em> and
    <em>Artists</em> section respectively. A preview of a song (if available) can be played by clicking the particular song,
    also the detail of the playlists, albums or artists can be seen by clicking the particular item.
  </p>
  <p>
    In the
    <strong>Search</strong> feature, the user can search through Spotify's database to search for artists, songs, albums and playlists.
    A preview of a song (if available) can also be played by clicking the particular song. Once the user finds the item that
    he/she desires, he/she can save it to his/her library by clicking the follow icon 
    <mat-icon>favorite_border</mat-icon> (for artists, albums and playlists) or the vertical menu 
    <mat-icon>more_vert</mat-icon> (for songs).
  </p>
</div>