<mat-toolbar>
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name">Spotify Explorer</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="true" [fixedTopGap]="toolbarHeight" [autoFocus]="false">
    <mat-nav-list>
      <mat-list-item>
        <img matListAvatar src="{{ user.image || 'assets/defaultUser.png' }}" alt="profile picture">
        <h2 matLine>{{ user.name || 'Username' }}</h2>
        <p matLine>
          <span>{{ user.email || 'Email' }}</span>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/search" routerLinkActive="active-link" (click)="snav.close()">
        <mat-icon mat-list-icon>search</mat-icon>Search
      </a>
      <a mat-list-item routerLink="/library" routerLinkActive="active-link" (click)="snav.close()">
        <mat-icon mat-list-icon>library_music</mat-icon>Library
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/about" routerLinkActive="active-link" (click)="snav.close()">
        <mat-icon mat-list-icon>info</mat-icon>About
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [style.paddingTop.px]="toolbarHeight">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>